asgiref==3.11.1
dj-database-url==3.1.2
Django==5.2.12
django-cors-headers==4.9.0
djangorestframework==3.17.0
gunicorn==25.1.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pillow==12.1.1
psycopg2-binary==2.9.11
PyMySQL==1.1.2
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
