{% extends 'core/base.html' %}

{% block content %}
<h2>Add Product</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>Name:<br><input type="text" name="name" required></p>
    <p>Description:<br><textarea name="description"></textarea></p>
    <p>Price:<br><input type="number" step="0.01" name="price" required></p>
    <p>Stock:<br><input type="number" name="stock" required></p>
    <p>Image:<br><input type="file" name="image"></p>

    <button type="submit" class="btn">Save</button>
</form>
{% endblock %}