{% extends 'core/base.html' %}

{% block content %}
<h2>Add Product</h2>
<p style="color:red; font-weight:bold;">
Categories found: {{ categories|length }}
</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        Name:<br>
        <input type="text" name="name" required>
    </p>

    <p>
        Category:<br>
        <select name="category">
            <option value="">Select Category</option>
            {% for category in categories %}
                <option value="{{ category.id }}">
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p>
        Description:<br>
        <textarea name="description"></textarea>
    </p>

    <p>
        Price:<br>
        <input type="number" step="0.01" name="price" required>
    </p>

    <p>
        Stock:<br>
        <input type="number" name="stock" required>
    </p>

    <p>
        Image:<br>
        <input type="file" name="image">
    </p>

    <button type="submit" class="btn">Save</button>
</form>

{% endblock %}